# EDA


- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [1]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import encode_tags
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

## Data Importing

In [2]:
# load one file first to see what type of data you're dealing with and what attributes it has

# Define the data directory and file path
data_dir = "C:/Users/sherr/LHL classwork/LHL-midterm/data"
sample_file = os.path.join(data_dir, "AK_Juneau_0.json")

# Load JSON data
with open(sample_file, "r") as f:
    sample_data = json.load(f)

# Convert JSON to a DataFrame
json_structure = pd.DataFrame(sample_data)

# Creating a file for csv data:
csv_data = os.path.join('C:/Users/sherr/LHL classwork/LHL-midterm/csv_data')
os.makedirs(csv_data, exist_ok=True)


# Saving json_structure df to csv: 
json_structure.to_csv('../json_structure.csv', index=False)
print("CSV file created successfully!")

CSV file created successfully!

In [3]:
# Print a preview of the data
print(json.dumps(sample_data, indent=4))

{
    "status": 200,
    "data": {
        "total": 8,
        "count": 8,
        "results": [
            {
                "primary_photo": {
                    "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
                },
                "last_update_date": "2023-09-19T20:52:50Z",
                "source": {
                    "plan_id": null,
                    "agents": [
                        {
                            "office_name": "EXP Realty LLC - Southeast Alaska"
                        },
                        {
                            "office_name": "Non-Member Office"
                        }
                    ],
                    "spec_id": null,
                    "type": "mls"
                },
                "tags": [
                    "carport",
                    "community_outdoor_space",
                    "cul_de_sac",
                    "family_room",
                    "hardwood_floors",
                    "hill_or_mountain_view",
                    "recreation_facilities",
                    "rv_or_boat_parking",
                    "basement",
                    "garage_1_or_more",
                    "two_or_more_stories",
                    "big_yard",
                    "high_ceiling",
                    "efficient",
                    "trails",
                    "shopping"
                ],
                "permalink": "9453-Herbert-Pl_Juneau_AK_99801_M90744-30767",
                "status": "sold",
                "list_date": "2023-06-29T21:16:25.000000Z",
                "open_houses": null,
                "description": {
                    "year_built": 1963,
                    "baths_3qtr": null,
                    "sold_date": "2023-09-18",
                    "sold_price": null,
                    "baths_full": 2,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": 10454,
                    "sqft": 1821,
                    "baths": 2,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": 1,
                    "stories": null,
                    "beds": 3,
                    "type": "single_family"
                },
                "branding": [
                    {
                        "name": "EXP Realty LLC - Southeast Alaska",
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": 554950,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9074430767",
                "photos": [
                    {
                        "tags": [
                            {
                                "label": "house_view",
                                "probability": 0.9931892156601
                            },
                            {
                                "label": "road_view",
                                "probability": 0.84215885400772
                            },
                            {
                                "label": "house_view",
                                "probability": 0.93829786777496
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "living_room",
                                "probability": 0.99856203794479
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2021977128s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "dining_room",
                                "probability": 0.99998116493225
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2832281708s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "unknown",
                                "probability": 0.91968685388565
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2250208436s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "kitchen",
                                "probability": 0.99999892711639
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m4264543754s-w1024_h768.jpg"
                    }
                ],
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": false,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": false
                },
                "community": null,
                "products": {
                    "brand_name": "basic_opt_in"
                },
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2957241843",
                            "listing_key": null,
                            "status": "sold",
                            "primary": true
                        },
                        {
                            "listing_id": "2957022863",
                            "listing_key": null,
                            "status": "off_market",
                            "primary": null
                        }
                    ]
                },
                "listing_id": "2957241843",
                "price_reduced_amount": 45000,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": {
                            "lon": -134.59372,
                            "lat": 58.36395
                        },
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "9453 Herbert Pl"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9453%20Herbert%20Pl%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=OPv224SjFIJWgVKAXZKZXNYEdNQ=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "8477-Thunder-Mountain-Rd_Juneau_AK_99801_M94249-83842",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-22",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9424983842",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958935271",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "8477 Thunder Mountain Rd"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=8477%20Thunder%20Mountain%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=X_IwZxbWaAsrSLHsERLq_64YJhc=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-22",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9479068516",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958935192",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "4515 Glacier Hwy"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=4515%20Glacier%20Hwy%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=ql3QFXXYvrKARTE42MC9p2Egtdg=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "17850-Point-Stephens-Rd_Juneau_AK_99801_M98793-31943",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-21",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9879331943",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958925235",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "17850 Point Stephens Rd"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=17850%20Point%20Stephens%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=sSYpYLhHnOQYJTloXVnGAmy2ydY=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99801_M95216-39574",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-21",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9521639574",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958924367",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,

In [4]:
# loop over all files and put them into a dataframe

# Initialize a list to store extracted sale records
data_list = []

# Loop through each JSON file
for file in os.listdir(data_dir):
    if not file.endswith('.json'):
        continue
        
    file_path = os.path.join(data_dir, file)  # Construct full file path
    
    with open(file_path, "r") as f:
        raw_data = json.load(f)  # Load JSON data
        
        # Extract property listings (assuming structure is in "data" -> "results")
        listings = raw_data.get("data", {}).get("results", [])

        if not isinstance(listings, list):  # Check if "results" is not a list
            print(f"Skipping malformed file: {file}")
            continue  # Skip files without proper listings

        # Process each listing
        for listing in listings:
            sale_record = {
                "property_id": listing.get("property_id", "Unknown"),
                "permalink": listing.get("permalink", "Unknown"),
                "status": listing.get("status", "Unknown"),
                "year_built": listing.get("description", {}).get("year_built", None),
                "garage": listing.get("description", {}).get("garage", None),
                "stories": listing.get("description", {}).get("stories", None),
                "beds": listing.get("description", {}).get("beds", None),
                "baths_1qtr": listing.get("description", {}).get("baths_1qtr", None),
                "baths_3qtr": listing.get("description", {}).get("baths_3qtr", None),
                "baths_half": listing.get("description", {}).get("baths_half", None),
                "baths_full": listing.get("description", {}).get("baths_full", None),
                "baths": listing.get("description", {}).get("baths", "Unknown"),
                "type": listing.get("description", {}).get("type", "Unknown"),
                "sub_type": listing.get("description", {}).get("sub_type", "Unknown"),
                "lot_sqft": listing.get("description", {}).get("lot_sqft", None),
                "sqft": listing.get("description", {}).get("sqft", None),
                "sold_price": listing.get("description", {}).get("sold_price", None),
                "sold_date": pd.to_datetime(listing.get("description", {}).get("sold_date", "Unknown")),
                "list_price": listing.get("list_price", None),
                "last_update_date": pd.to_datetime(listing.get("last_update_date"), errors='coerce'),
                "city": listing.get("location", {}).get("address", {}).get("city", "Unknown"),
                "state": listing.get("location", {}).get("address", {}).get("state", "Unknown"),
                "postal_code": listing.get("location", {}).get("address", {}).get("postal_code", "Unknown"),
                "street_view_url": listing.get("location", {}).get("street_view_url", "Unknown"),
                "tags": listing.get("tags", [])  
            }
            data_list.append(sale_record)


# Convert extracted data into a DataFrame
listings_df = pd.DataFrame(data_list)

# Save to CSV for easier analysis
listings_df.to_csv("../raw_real_estate_listings.csv", index=False)
print("CSV file created successfully!")

Skipping malformed file: HI_Honolulu_3.json
Skipping malformed file: HI_Honolulu_4.json
Skipping malformed file: ME_Augusta_0.json
Skipping malformed file: ME_Augusta_1.json
Skipping malformed file: ME_Augusta_2.json
Skipping malformed file: ME_Augusta_3.json
Skipping malformed file: ME_Augusta_4.json
Skipping malformed file: MS_Jackson_0.json
Skipping malformed file: MS_Jackson_1.json
Skipping malformed file: MS_Jackson_2.json
Skipping malformed file: MS_Jackson_3.json
Skipping malformed file: MS_Jackson_4.json
Skipping malformed file: ND_Bismarck_2.json
Skipping malformed file: ND_Bismarck_3.json
Skipping malformed file: ND_Bismarck_4.json
Skipping malformed file: NH_Concord_3.json
Skipping malformed file: NH_Concord_4.json
Skipping malformed file: SD_Pierre_0.json
Skipping malformed file: SD_Pierre_1.json
Skipping malformed file: SD_Pierre_2.json
Skipping malformed file: SD_Pierre_3.json
Skipping malformed file: SD_Pierre_4.json
Skipping malformed file: VT_Montpelier_0.json
Skipping malformed file: VT_Montpelier_1.json
Skipping malformed file: VT_Montpelier_2.json
Skipping malformed file: VT_Montpelier_3.json
Skipping malformed file: VT_Montpelier_4.json
Skipping malformed file: WY_Cheyenne_0.json
Skipping malformed file: WY_Cheyenne_1.json
Skipping malformed file: WY_Cheyenne_2.json
Skipping malformed file: WY_Cheyenne_3.json
Skipping malformed file: WY_Cheyenne_4.json
CSV file created successfully!

## Data Cleaning and Wrangling

At this point, ensure that you have all sales in a dataframe.
- Take a quick look at your data (i.e. `.info()`, `.describe()`) - what do you see?
- Is each cell one value, or do some cells have lists?
- What are the data types of each column?
- Some sales may not actually include the sale price (target).  These rows should be dropped.
- There are a lot of NA/None values.  Should these be dropped or replaced with something?
    - You can drop rows or use various methods to fills NA's - use your best judgement for each column 
    - i.e. for some columns (like Garage), NA probably just means no Garage, so 0
- Drop columns that aren't needed
    - Don't keep the list price because it will be too close to the sale price. Assume we want to predict the price of houses not yet listed

In [5]:
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8159 entries, 0 to 8158
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   property_id       8159 non-null   object
 1   permalink         8159 non-null   object
 2   status            8159 non-null   object
 3   year_built        7316 non-null   float64
 4   garage            4448 non-null   float64
 5   stories           6260 non-null   float64
 6   beds              7504 non-null   float64
 7   baths_1qtr        0 non-null      object
 8   baths_3qtr        566 non-null    float64
 9   baths_half        2281 non-null   float64
 10  baths_full        7311 non-null   float64
 11  baths             7980 non-null   float64
 12  type              8125 non-null   object
 13  sub_type          1427 non-null   object
 14  lot_sqft          6991 non-null   float64
 15  sqft              7323 non-null   float64
 16  sold_price        6716 non-null   float64
 17  sold_date         8159 non-null   datetime64[ns]
 18  list_price        7721 non-null   float64
 19  last_update_date  8125 non-null   object
 20  city              8154 non-null   object
 21  state             8159 non-null   object
 22  postal_code       8159 non-null   object
 23  street_view_url   8159 non-null   object
 24  tags              7638 non-null   object
dtypes: datetime64[ns](1), float64(12), object(12)
memory usage: 1.6+ MB

At first glance, `baths_1qtr` has all null values

In [6]:
listings_df.describe()

,year_built,garage,stories,beds,baths_3qtr,baths_half,baths_full,baths,lot_sqft,sqft,sold_price,sold_date,list_price
count,7316.000000,4448.000000,6260.000000,7504.000000,566.000000,2281.000000,7311.000000,7980.000000,6.991000e+03,7323.000000,6.716000e+03,8159,7.721000e+03
mean,1968.916074,1.926709,1.567732,3.208289,1.247350,1.105655,1.887430,2.131203,2.510949e+05,1933.848559,4.126050e+05,2023-12-16 16:32:35.533766400,4.341582e+05
min,1828.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000e+00,120.000000,3.080000e+02,2023-07-21 00:00:00,1.000000e+00
25%,1950.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,4.953000e+03,1258.000000,1.910000e+05,2023-12-18 00:00:00,2.090000e+05
50%,1975.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000,2.000000,7.841000e+03,1635.000000,3.140000e+05,2024-01-04 00:00:00,3.250000e+05
75%,1997.000000,2.000000,2.000000,4.000000,1.000000,1.000000,2.000000,3.000000,1.263200e+04,2264.000000,4.700000e+05,2024-01-10 00:00:00,4.999000e+05
max,2024.000000,11.000000,10.000000,12.000000,3.000000,5.000000,8.000000,9.000000,1.676624e+08,32106.000000,2.706500e+07,2024-01-17 00:00:00,1.250000e+07
std,35.096914,0.878766,0.730969,1.282732,0.463482,0.413340,0.862214,1.175940,5.823820e+06,1339.039206,6.994308e+05,NaN,5.514925e+05

In [7]:
# Loading and inspecting the data
listings_df

,property_id,permalink,status,year_built,garage,stories,beds,baths_1qtr,baths_3qtr,baths_half,...,sqft,sold_price,sold_date,list_price,last_update_date,city,state,postal_code,street_view_url,tags
0,9074430767,9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,sold,1963.0,1.0,NaN,3.0,None,NaN,NaN,...,1821.0,NaN,2023-09-18,554950.0,2023-09-19 20:52:50+00:00,Juneau,Alaska,99801,https://maps.googleapis.com/maps/api/streetvie...,"[carport, community_outdoor_space, cul_de_sac,..."
1,9424983842,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,sold,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,NaN,2023-08-22,NaN,None,Juneau,Alaska,99801,https://maps.googleapis.com/maps/api/streetvie...,None
2,9479068516,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,sold,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,NaN,2023-08-22,NaN,None,Juneau,Alaska,99801,https://maps.googleapis.com/maps/api/streetvie...,None
3,9879331943,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,sold,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,NaN,2023-08-21,NaN,None,Juneau,Alaska,99801,https://maps.googleapis.com/maps/api/streetvie...,None
4,9521639574,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,sold,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,NaN,2023-08-21,NaN,None,Juneau,Alaska,99801,https://maps.googleapis.com/maps/api/streetvie...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8154,4542127284,1008-Oakmont-Rd_Charleston_WV_25314_M45421-27284,sold,1910.0,1.0,2.0,3.0,None,NaN,NaN,...,1214.0,99000.0,2023-07-27,98000.0,2023-07-28 17:00:12+00:00,Charleston,West Virginia,25314,https://maps.googleapis.com/maps/api/streetvie...,"[central_air, forced_air, basement, two_or_mor..."
8155,3895826397,1041-Temple-St_Charleston_WV_25387_M38958-26397,sold,NaN,NaN,NaN,3.0,None,NaN,NaN,...,988.0,29700.0,2023-07-27,49999.0,2023-07-28 17:10:21+00:00,Charleston,West Virginia,25387,https://maps.googleapis.com/maps/api/streetvie...,"[basement, big_lot]"
8156,4941005485,238-Oakwood-Rd_Charleston_WV_25314_M49410-05485,sold,NaN,NaN,NaN,3.0,None,NaN,NaN,...,1470.0,162250.0,2023-07-24,133000.0,2023-07-25 13:00:22+00:00,Charleston,West Virginia,25314,https://maps.googleapis.com/maps/api/streetvie...,"[basement, big_lot]"
8157,4306867390,408-Lee-St-W_Charleston_WV_25302_M43068-67390,sold,NaN,NaN,NaN,0.0,None,NaN,NaN,...,NaN,63800.0,2023-07-24,75000.0,2023-07-28 16:37:19+00:00,Charleston,West Virginia,25302,https://maps.googleapis.com/maps/api/streetvie...,[rental_property]
8158,3616897910,625-Wood-Rd_Charleston_WV_25302_M36168-97910,sold,1950.0,NaN,NaN,3.0,None,NaN,NaN,...,3858.0,115500.0,2023-07-21,112600.0,2023-07-25 13:17:29+00:00,Charleston,West Virginia,25302,https://maps.googleapis.com/maps/api/streetvie...,"[central_air, garage_1_or_more, basement, sing..."

In [8]:
# Dropping entrites with duplicate 'property_id'

listings_df = listings_df.drop_duplicates(subset='property_id')

In [9]:
# Modifying datatypes

# float to int
listings_df['year_built'] = listings_df['year_built'].astype('Int64') 
listings_df['garage'] = listings_df['garage'].astype('Int64')
listings_df['stories'] = listings_df['stories'].astype('Int64')
listings_df['beds'] = listings_df['beds'].astype('Int64')
listings_df['baths'] = listings_df['baths'].astype('Int64')

# Remove time from last_update_date and convert to datetime64
listings_df['last_update_date'] = pd.to_datetime(listings_df['last_update_date'].astype('str').str[:10], errors='coerce')

C:\Users\sherr\AppData\Local\Temp\ipykernel_1572\3223367948.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df['year_built'] = listings_df['year_built'].astype('Int64')
C:\Users\sherr\AppData\Local\Temp\ipykernel_1572\3223367948.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df['garage'] = listings_df['garage'].astype('Int64')
C:\Users\sherr\AppData\Local\Temp\ipykernel_1572\3223367948.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df['stories'] = listings_df['stories'].astype('Int64')
C:\Users\sherr\AppData\Local\Temp\ipykernel_1572\3223367948.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df['beds'] = listings_df['beds'].astype('Int64')
C:\Users\sherr\AppData\Local\Temp\ipykernel_1572\3223367948.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df['baths'] = listings_df['baths'].astype('Int64')
C:\Users\sherr\AppData\Local\Temp\ipykernel_1572\3223367948.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df['last_update_date'] = pd.to_datetime(listings_df['last_update_date'].astype('str').str[:10], errors='coerce')

In [10]:
# Addressing Null values 

pd.DataFrame(listings_df.isnull().sum() * 100 / len(listings_df)).reset_index().sort_values(0, ascending=False).rename(columns={'index': 'column_name',
                                                                                                              0: 'percent_missing'})

         column_name  percent_missing
7         baths_1qtr       100.000000
8         baths_3qtr        93.036212
13          sub_type        82.618384
9         baths_half        72.089136
4             garage        45.515320
5            stories        23.621170
16        sold_price        17.827298
14          lot_sqft        14.206128
10        baths_full        10.417827
15              sqft        10.362117
3         year_built        10.306407
6               beds         8.133705
24              tags         6.462396
18        list_price         5.459610
11             baths         2.172702
19  last_update_date         0.445682
12              type         0.445682
20              city         0.055710
2             status         0.000000
0        property_id         0.000000
1          permalink         0.000000
17         sold_date         0.000000
21             state         0.000000
22       postal_code         0.000000
23   street_view_url         0.000000

In [11]:
# Dropping the 4 columns wehere over 50% of the data is null (baths_1qtr)
listings_df = listings_df.drop(columns=['baths_1qtr','baths_3qtr', 'sub_type', 'baths_half'])

# Dropping the redundant 'baths_full' column in favor of the 'baths' column
listings_df = listings_df.drop(columns='baths_full')

# Dropping the 'list_price' column in favor of 'sold_price' to predict the prices of houses not listed
listings_df = listings_df.drop(columns='list_price')

# Dropping the rows that have a null sale price (target)
listings_df = listings_df[~listings_df['sold_price'].isnull()]

In [12]:
# Null value replacement

# if none then 0: 
listings_df['garage'] = listings_df['garage'].fillna(value=0) 
listings_df['lot_sqft'] = listings_df['lot_sqft'].fillna(value=0)
listings_df['sqft'] = listings_df['sqft'].fillna(value=0)
listings_df['beds'] = listings_df['beds'].fillna(value=0)
listings_df['baths'] = listings_df['baths'].fillna(value=0)
listings_df['tags'] = listings_df['tags'].fillna(value='[]')

listings_df['last_update_date'] = listings_df['last_update_date'].fillna(value=listings_df['sold_date']) # Assuming the listing was last updated on the day it sold 
print('null type count:', listings_df[listings_df['type'].isnull() ==True].shape[0])
listings_df['type'] = listings_df['type'].fillna(value='single_family') # Only a few entries, validated type manually through zillow search 

print('null city count:', listings_df[listings_df['city'].isnull() ==True].shape[0])
listings_df['city'] = listings_df['city'].fillna(value='Columbus') # Only one entry, validated city manually through search 

listings_df['stories'] = listings_df['stories'].fillna(value=0) # Manually validated some addresses with stories null, appears to be warehouses, fields, etc

null type count: 4
null city count: 1

In [13]:
# Null year_built:

null_years_built = listings_df[listings_df['year_built'].isnull() == True]
null_years_built

,property_id,permalink,status,year_built,garage,stories,beds,baths,type,lot_sqft,sqft,sold_price,sold_date,last_update_date,city,state,postal_code,street_view_url,tags
40,9371305836,3180-E-Old-Hayneville-Rd_Montgomery_AL_36105_M...,sold,<NA>,0,0,0,0,land,3397680.0,0.0,370000.0,2024-01-12,2024-01-12,Montgomery,Alabama,36105,https://maps.googleapis.com/maps/api/streetvie...,"[horse_facilities, rental_property, big_lot, p..."
251,9934955122,202-Fletcher-Ridge-Dr_Little-Rock_AR_72223_M99...,sold,<NA>,0,0,0,0,land,5663.0,0.0,76000.0,2024-01-11,2024-01-11,Little Rock,Arkansas,72223,https://maps.googleapis.com/maps/api/streetvie...,[garage_1_or_more]
262,9118590787,00012-Denny-Rd_Little-Rock_AR_72223_M91185-90787,sold,<NA>,0,0,0,0,land,534481.0,0.0,453990.0,2024-01-08,2024-01-08,Little Rock,Arkansas,72223,https://maps.googleapis.com/maps/api/streetvie...,"[city_view, river_view, view, water_view, gara..."
269,7567034580,120-Sezanne-Ct_Little-Rock_AR_72223_M75670-34580,sold,<NA>,0,0,0,0,land,23522.0,0.0,107500.0,2024-01-05,2024-01-15,Little Rock,Arkansas,72223,https://maps.googleapis.com/maps/api/streetvie...,"[community_park, recreation_facilities, swimmi..."
449,8499929092,1827-Lorance-Dr_Little-Rock_AR_72206_M84999-29092,sold,<NA>,0,0,0,0,land,87120.0,0.0,105000.0,2024-01-03,2024-01-04,Little Rock,Arkansas,72206,https://maps.googleapis.com/maps/api/streetvie...,"[city_view, horse_facilities, view, garage_1_o..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7990,4737492197,1575-Sugar-Creek-Dr_Charleston_WV_25387_M47374...,sold,<NA>,0,0,1,1,single_family,0.0,771.0,3575.0,2023-08-08,2023-08-08,Charleston,West Virginia,25387,https://maps.googleapis.com/maps/api/streetvie...,[]
7992,3221071664,859-Chester-Rd_Charleston_WV_25302_M32210-71664,sold,<NA>,2,0,5,2,single_family,11326.0,3356.0,74250.0,2023-07-27,2023-07-28,Charleston,West Virginia,25302,https://maps.googleapis.com/maps/api/streetvie...,"[basement, garage_1_or_more, garage_2_or_more,..."
7994,3895826397,1041-Temple-St_Charleston_WV_25387_M38958-26397,sold,<NA>,0,0,3,1,single_family,7841.0,988.0,29700.0,2023-07-27,2023-07-28,Charleston,West Virginia,25387,https://maps.googleapis.com/maps/api/streetvie...,"[basement, big_lot]"
7995,4941005485,238-Oakwood-Rd_Charleston_WV_25314_M49410-05485,sold,<NA>,0,0,3,1,single_family,65340.0,1470.0,162250.0,2023-07-24,2023-07-25,Charleston,West Virginia,25314,https://maps.googleapis.com/maps/api/streetvie...,"[basement, big_lot]"
7996,4306867390,408-Lee-St-W_Charleston_WV_25302_M43068-67390,sold,<NA>,0,0,0,0,single_family,0.0,0.0,63800.0,2023-07-24,2023-07-28,Charleston,West Virginia,25302,https://maps.googleapis.com/maps/api/streetvie...,[rental_property]

In [14]:
null_years_built.groupby('type').count()

,property_id,permalink,status,year_built,garage,stories,beds,baths,lot_sqft,sqft,sold_price,sold_date,last_update_date,city,state,postal_code,street_view_url,tags
type,,,,,,,,,,,,,,,,,,
condo,9,9,9,0,9,9,9,9,9,9,9,9,9,9,9,9,9,9
land,71,71,71,0,71,71,71,71,71,71,71,71,71,71,71,71,71,71
mobile,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
multi_family,3,3,3,0,3,3,3,3,3,3,3,3,3,3,3,3,3,3
other,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2
single_family,59,59,59,0,59,59,59,59,59,59,59,59,59,59,59,59,59,59
townhomes,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [15]:
listings_df.groupby(by=['type', 'city'])['year_built'].min()['land']

city
Annapolis           <NA>
Atlanta             <NA>
Boone               <NA>
Canal Winchester    <NA>
Carson City         <NA>
Charleston          <NA>
Columbus            <NA>
Denver              <NA>
Dublin              <NA>
Edmond              <NA>
Garnett             <NA>
Harrisburg          <NA>
Hartford            <NA>
Henrico             <NA>
Lincoln             <NA>
Little Rock         <NA>
Montgomery          <NA>
Olympia             <NA>
Phoenix             1956
Providence          <NA>
Saint Paul          <NA>
Salem               <NA>
Spencer             <NA>
Springfield         <NA>
Tallahassee         <NA>
Trenton             <NA>
Westerville         <NA>
Name: year_built, dtype: Int64

In [16]:
listings_df.groupby(by=['type', 'city'])['year_built'].min()['condo']

city
Columbus       <NA>
Nashville      1985
Springfield    <NA>
Name: year_built, dtype: Int64

The majority of records that have null `year_built` are of `land` or `single_family` type. For those of `single_family` type, values will be grouped by type and city, and the most frequently occured year will be the replacement. Only one record of 'year_built' exists for the listings of land type, the year 1956 in Phoenix, Arizona. This value is used to impute records with null 'year_built' that is of land type. It is important to note that this imputation will reduce the variability of the data. A similar issue exists for those of the condo type, with the only record of the year 1985 in Nashville. The same imputation method will be used. The two entries that are of type 'other' are the only entries in the dataframe of that type, and upon manual inspection the listings are for the lot or incomplete so they will be dropped. After the conditions are applied, there are only 3 records left, whose year_built information cannot be found online. To maintain more data integretity, these records will be dropped instead of trying to find a statristic to genneralize.

In [17]:
listings_df[listings_df['year_built'].isnull() == True]

,property_id,permalink,status,year_built,garage,stories,beds,baths,type,lot_sqft,sqft,sold_price,sold_date,last_update_date,city,state,postal_code,street_view_url,tags
40,9371305836,3180-E-Old-Hayneville-Rd_Montgomery_AL_36105_M...,sold,<NA>,0,0,0,0,land,3397680.0,0.0,370000.0,2024-01-12,2024-01-12,Montgomery,Alabama,36105,https://maps.googleapis.com/maps/api/streetvie...,"[horse_facilities, rental_property, big_lot, p..."
251,9934955122,202-Fletcher-Ridge-Dr_Little-Rock_AR_72223_M99...,sold,<NA>,0,0,0,0,land,5663.0,0.0,76000.0,2024-01-11,2024-01-11,Little Rock,Arkansas,72223,https://maps.googleapis.com/maps/api/streetvie...,[garage_1_or_more]
262,9118590787,00012-Denny-Rd_Little-Rock_AR_72223_M91185-90787,sold,<NA>,0,0,0,0,land,534481.0,0.0,453990.0,2024-01-08,2024-01-08,Little Rock,Arkansas,72223,https://maps.googleapis.com/maps/api/streetvie...,"[city_view, river_view, view, water_view, gara..."
269,7567034580,120-Sezanne-Ct_Little-Rock_AR_72223_M75670-34580,sold,<NA>,0,0,0,0,land,23522.0,0.0,107500.0,2024-01-05,2024-01-15,Little Rock,Arkansas,72223,https://maps.googleapis.com/maps/api/streetvie...,"[community_park, recreation_facilities, swimmi..."
449,8499929092,1827-Lorance-Dr_Little-Rock_AR_72206_M84999-29092,sold,<NA>,0,0,0,0,land,87120.0,0.0,105000.0,2024-01-03,2024-01-04,Little Rock,Arkansas,72206,https://maps.googleapis.com/maps/api/streetvie...,"[city_view, horse_facilities, view, garage_1_o..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7990,4737492197,1575-Sugar-Creek-Dr_Charleston_WV_25387_M47374...,sold,<NA>,0,0,1,1,single_family,0.0,771.0,3575.0,2023-08-08,2023-08-08,Charleston,West Virginia,25387,https://maps.googleapis.com/maps/api/streetvie...,[]
7992,3221071664,859-Chester-Rd_Charleston_WV_25302_M32210-71664,sold,<NA>,2,0,5,2,single_family,11326.0,3356.0,74250.0,2023-07-27,2023-07-28,Charleston,West Virginia,25302,https://maps.googleapis.com/maps/api/streetvie...,"[basement, garage_1_or_more, garage_2_or_more,..."
7994,3895826397,1041-Temple-St_Charleston_WV_25387_M38958-26397,sold,<NA>,0,0,3,1,single_family,7841.0,988.0,29700.0,2023-07-27,2023-07-28,Charleston,West Virginia,25387,https://maps.googleapis.com/maps/api/streetvie...,"[basement, big_lot]"
7995,4941005485,238-Oakwood-Rd_Charleston_WV_25314_M49410-05485,sold,<NA>,0,0,3,1,single_family,65340.0,1470.0,162250.0,2023-07-24,2023-07-25,Charleston,West Virginia,25314,https://maps.googleapis.com/maps/api/streetvie...,"[basement, big_lot]"
7996,4306867390,408-Lee-St-W_Charleston_WV_25302_M43068-67390,sold,<NA>,0,0,0,0,single_family,0.0,0.0,63800.0,2023-07-24,2023-07-28,Charleston,West Virginia,25302,https://maps.googleapis.com/maps/api/streetvie...,[rental_property]

In [18]:
# Replace null values for 'year_built'

# Define conditions 
condition_sf = (listings_df['type'] == 'single_family') & (listings_df['year_built'].isna())
condition_land = (listings_df['type'] == 'land') & (listings_df['year_built'].isna())
condition_condo = (listings_df['type'] == 'condo') & (listings_df['year_built'].isna())
condition_mobile = (listings_df['type'] == 'mobile') & (listings_df['year_built'].isna())
# Manual search conditions
condition_ms1 = (listings_df['property_id'] == '5328654220') & (listings_df['year_built'].isna())   
condition_ms2 = (listings_df['property_id'] == '9414271198') & (listings_df['year_built'].isna())
condition_ms3 = (listings_df['property_id'] == '9988039199') & (listings_df['year_built'].isna())
condition_ms4 = (listings_df['property_id'] == '3377433199') & (listings_df['year_built'].isna())


# Group by type and city, then get mode of rows of single family type
sf_modes = (listings_df[listings_df['type'] == 'single_family'].groupby(['type', 'city'])['year_built'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else pd.NA))

# Define a function to get the mode from the groupby
def get_mode(row):
    try:
        return sf_modes.loc[(row['type'], row['city'])]
    except KeyError:
        return row['year_built']  # fallback if no mode available

# Apply the function to the single_family condition
listings_df.loc[condition_sf, 'year_built'] = listings_df[condition_sf].apply(get_mode, axis=1)
print('null type count after single_family modes:', listings_df[listings_df['year_built'].isnull() ==True].shape[0])

# Manually validating and imputation everything else
listings_df.loc[condition_land, 'year_built'] = 1956
listings_df.loc[condition_condo, 'year_built'] = 1985
listings_df = listings_df[listings_df['type'] != 'other']
listings_df.loc[condition_mobile, 'year_built'] = 1988

# Values obtained through manual search
listings_df.loc[condition_ms1, 'year_built'] = 1876
listings_df.loc[condition_ms2, 'year_built'] = 2023
listings_df.loc[condition_ms3, 'year_built'] = 1983
listings_df.loc[condition_ms4, 'year_built'] = 1981
print('null type count after manual conditions:', listings_df[listings_df['year_built'].isnull() ==True].shape[0])

# Dropping remaining rows
listings_df = listings_df[listings_df['year_built'].isnull() == False]

null type count after single_family modes: 90
null type count after manual conditions: 3

In [19]:
# Drop final redundant columns 
listings_df = listings_df.drop(columns=['permalink', 'street_view_url'])

In [20]:
# Validate cleaned dataframe and save to csv
display(listings_df.head())
display(listings_df.info())

listings_df.to_csv("../cleaned_real_estate_listings.csv", index=False)
print("CSV file created successfully!")

,property_id,status,year_built,garage,stories,beds,baths,type,lot_sqft,sqft,sold_price,sold_date,last_update_date,city,state,postal_code,tags
30,8846541030,sold,1998,2,1,3,2,single_family,11761.0,1478.0,129900.0,2024-01-16,2021-04-13,Montgomery,Alabama,36117,"[central_air, central_heat, community_outdoor_..."
31,7727981021,sold,1945,1,2,4,2,single_family,6534.0,1389.0,88500.0,2024-01-16,2024-01-16,Montgomery,Alabama,36107,"[city_view, hardwood_floors, two_or_more_stori..."
32,7320925131,sold,1969,0,1,3,2,single_family,17424.0,2058.0,145000.0,2024-01-16,2021-04-13,Montgomery,Alabama,36109,"[carport, central_air, central_heat, dishwashe..."
33,7231604965,sold,1955,0,1,3,2,single_family,9712.0,1432.0,65000.0,2024-01-16,2024-01-16,Montgomery,Alabama,36107,"[carport, central_air, city_view, community_ou..."
34,7700690979,sold,1984,0,1,3,2,single_family,10890.0,1804.0,169000.0,2024-01-12,2024-01-12,Montgomery,Alabama,36106,"[city_view, single_story, big_yard, fenced_yar..."

<class 'pandas.core.frame.DataFrame'>
Index: 1470 entries, 30 to 8038
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   property_id       1470 non-null   object
 1   status            1470 non-null   object
 2   year_built        1470 non-null   Int64
 3   garage            1470 non-null   Int64
 4   stories           1470 non-null   Int64
 5   beds              1470 non-null   Int64
 6   baths             1470 non-null   Int64
 7   type              1470 non-null   object
 8   lot_sqft          1470 non-null   float64
 9   sqft              1470 non-null   float64
 10  sold_price        1470 non-null   float64
 11  sold_date         1470 non-null   datetime64[ns]
 12  last_update_date  1470 non-null   datetime64[ns]
 13  city              1470 non-null   object
 14  state             1470 non-null   object
 15  postal_code       1470 non-null   object
 16  tags              1470 non-null   object
dtypes: Int64(5), datetime64[ns](2), float64(3), object(7)
memory usage: 213.9+ KB

None

CSV file created successfully!

### Dealing with Tags

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [21]:
# OHE categorical variables/ tags here
# tags will have to be done manually

### Dealing with Cities

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- What we can do is use our training data to encode the mean sale price by city as a feature (a.k.a. Target Encoding)
    - We can do this as long as we ONLY use the training data - we're using the available data to give us a 'starting guess' of the price for each city, without needing to encode city explicitly
- If you replace cities or states with numerical values (like the mean price), make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Note that you *may* have cities in the test set that are not in the training set. You don't want these to be NA, so maybe you can fill them with the overall mean

In [22]:
# perform train test split here
# do something with state and city

## Extra Data - STRETCH

> This doesn't need to be part of your Minimum Viable Product (MVP). We recommend you write a functional, basic pipeline first, then circle back and join new data if you have time

> If you do this, try to write your downstream steps in a way it will still work on a dataframe with different features!

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [23]:
# import, join and preprocess new data here

## EDA/ Visualization

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.    
    - Consider transforming very skewed variables
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
    - You may have too many features to do this, in which case you can simply compute the most correlated feature-pairs and list them
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [24]:
cat_cols = listings_df[['status', 'type', 'city', 'state']]
num_cols = listings_df[['property_id', 'year_built', 'garage', 'stories', 'beds', 'baths']]

In [25]:
listings_df

,property_id,status,year_built,garage,stories,beds,baths,type,lot_sqft,sqft,sold_price,sold_date,last_update_date,city,state,postal_code,tags
30,8846541030,sold,1998,2,1,3,2,single_family,11761.0,1478.0,129900.0,2024-01-16,2021-04-13,Montgomery,Alabama,36117,"[central_air, central_heat, community_outdoor_..."
31,7727981021,sold,1945,1,2,4,2,single_family,6534.0,1389.0,88500.0,2024-01-16,2024-01-16,Montgomery,Alabama,36107,"[city_view, hardwood_floors, two_or_more_stori..."
32,7320925131,sold,1969,0,1,3,2,single_family,17424.0,2058.0,145000.0,2024-01-16,2021-04-13,Montgomery,Alabama,36109,"[carport, central_air, central_heat, dishwashe..."
33,7231604965,sold,1955,0,1,3,2,single_family,9712.0,1432.0,65000.0,2024-01-16,2024-01-16,Montgomery,Alabama,36107,"[carport, central_air, city_view, community_ou..."
34,7700690979,sold,1984,0,1,3,2,single_family,10890.0,1804.0,169000.0,2024-01-12,2024-01-12,Montgomery,Alabama,36106,"[city_view, single_story, big_yard, fenced_yar..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,4542127284,sold,1910,1,2,3,1,single_family,4792.0,1214.0,99000.0,2023-07-27,2023-07-28,Charleston,West Virginia,25314,"[central_air, forced_air, basement, two_or_mor..."
7994,3895826397,sold,1925,0,0,3,1,single_family,7841.0,988.0,29700.0,2023-07-27,2023-07-28,Charleston,West Virginia,25387,"[basement, big_lot]"
7995,4941005485,sold,1925,0,0,3,1,single_family,65340.0,1470.0,162250.0,2023-07-24,2023-07-25,Charleston,West Virginia,25314,"[basement, big_lot]"
7996,4306867390,sold,1925,0,0,0,0,single_family,0.0,0.0,63800.0,2023-07-24,2023-07-28,Charleston,West Virginia,25302,[rental_property]
8038,3616897910,sold,1950,0,0,3,2,single_family,52272.0,3858.0,115500.0,2023-07-21,2023-07-25,Charleston,West Virginia,25302,"[central_air, garage_1_or_more, basement, sing..."

## Scaling and Finishing Up

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized